<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression" parallel="tests" thread-count="1">
    <test name="FirefoxTests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="tests.VodafoneSearchResultTests"/>
        </classes>
    </test>


    <test name="ChromeTests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.VodafoneSearchResultTests"/>
        </classes>
    </test>

    <test name="IeTests">
        <parameter name="browser" value="ie"/>
        <classes>
            <class name="tests.VodafoneSearchResultTests"/>
        </classes>
    </test>

    <test name="EdgeTests">
        <parameter name="browser" value="edge"/>
        <classes>
            <class name="tests.VodafoneSearchResultTests"/>
        </classes>
    </test>

</suite>

